---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Juanjo Martínez - FullStack developer">
  <main class="container mx-auto">
    <h1 class="text-5xl font-bold text-center">Blog</h1>
  </main>
</Layout>
