---
import { Image } from 'astro:assets'
import ZxSpectrum from './images/zxspectrum.webp'
---
<div id="about" class="my-10 flex flex-col gap-2">
    <p>
        ¡Hola! Soy Juanjo, desarrollador FullStack y apasionado con todo lo que tenga que ver con la tecnología desde los tiempos del <Image src={ZxSpectrum} class="ml-2 inline w-20" alt="Zx Spectrum logo" height="25" width="80" />.
    </p>
    <p>
        Después de muchos años trabajando en empresas, y llegar al que pensaba que era mi objetivo, me lancé a crear la mía propia.
    </p>
    <p>
        Tras dos años aprendiendo muchísimo, dimos el proyecto por finalizado y, decidí ofrecerme como freelance para poder colaborar y ayudar en diferentes proyectos.
    </p>
    <p>
        ¿Quieres comenzar un nuevo proyecto o necesitas un desarrollador FullStack? ¡No dudes en contactar conmigo!
    </p>
</div>